@model BPR2_WebApp.Models.ReviewsModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reviews</h1>

<br />

<form asp-action="Load">
    <div class="form-group row">
        <div class="col-sm-11">
            <div class="form-group row">
                <label class="control-label col-sm-2 align-self-center">Store Name: </label>
                <input asp-for="StoreName" id="storeName" class="form-control col-sm-4" type="search" />
            </div>
        </div>
        <input type="submit" value="Load" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Store Name
            </th>
            <th>
                Username
            </th>
            <th>
                Rating
            </th>
            <th>
                Comment
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reviews) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @if (item.Rating > 0)
                {
                    <div class="row" style="align-self:center">
                        <div style="float: left;">
                            @for (var i = 1; i <= item.Rating; i++)
                            {
                                <span class="star"></span>
                            }
                            @for (var i = (item.Rating + 1); i <= 5; i++)
                            {
                                <span class="starb"></span>
                            }
                        </div>
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
}
    </tbody>
</table>
